<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.user.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.user.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksAdd</servlet-name>
        <servlet-class>com.admin.servlet.BooksAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooksServlet</servlet-name>
        <servlet-class>com.admin.servlet.EditBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksDeleteServlet</servlet-name>
        <servlet-class>com.admin.servlet.BooksDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.user.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleUserServlet</servlet-name>
        <servlet-class>com.user.servlet.GoogleUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GithubUserServlet</servlet-name>
        <servlet-class>com.user.servlet.GithubUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.user.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookCart</servlet-name>
        <servlet-class>com.user.servlet.RemoveBookCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.user.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellBook</servlet-name>
        <servlet-class>com.user.servlet.SellBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksAdd</servlet-name>
        <url-pattern>/add_books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBooksServlet</servlet-name>
        <url-pattern>/edit_books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksDeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleUserServlet</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GithubUserServlet</servlet-name>
        <url-pattern>/logingithub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookCart</servlet-name>
        <url-pattern>/remove_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellBook</servlet-name>
        <url-pattern>/sellbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/update_profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
